@media screen and (max-width : 1040px){
  
    .arrow, .control a{
        width:12vw;
        height:12vw;
    }
    .arrow .fas{
        font-size: 7vw;
    
    }
    .control a{
        font-size: 3vw;
    }

    .main-title{
       padding: 25vw 3vw;
    }
    .main-title h1{
        font-size: 6vw;
    }
    .sideCover {
        height:140%;
        width: 60%;
        top:-19vw;
        right: -19vw;
        transform: rotate(30deg);

    }
    .two{ 
        height:140%;
        width: 60%;
        top:-19vw;
        right: -2vw;
        transform: rotate(30deg);
    }
    
    .three{
        top:40vw;
        left:14vw;
        width:50%;
        animation: sideCover3rd 1s ease;
        transform: rotate(-80deg);

    }
    .menu{
        margin:1vh 0;
        padding:2.7vw;
        font-size: 2vw;
    }
    .logo img{
        height:8vw;
        width:30vw;
    }
    .produk-menu img{
        height:100vh;
        width:100vw;
    }

    .kue img, .minum img, .masakan img{
    border-radius: 5%;
    opacity: .9;
    transition: all .2s;
    }
    .kue .kue1, .minum .minum1 , .masakan .masak2{
        top:6vw;
        left:6vw;
        height: 35vw;
        width: 50vw;
    }
    .kue .kue2, .minum .minum2, .masakan .masak3{
        top:10vw;
        left:46vw;
        height: 25vw;
        width: 40vw;

    }
    .kue .kue3{
        top:70vw;
        left:5vw;
        height: 20vw;
        width: 40vw;

    }
    .kue .kue4, .masakan .masak4{
        top:60vw;
        left:26vw;
        height: 23vw;
        width: 33vw;
        display: none;
    }
    .kue .kue5, .minum .minum3, .masakan .masak1{
        top:40vw;
        left:4vw;
        height: 30vw;
        width: 45vw;

       
    }
    .kue .kue6{
        top:50vw;
        left:36vw;
        height: 25vw;
        width: 35vw;
    }



    .kue1:hover, .kue2:hover, .kue3:hover, .kue4:hover, .kue5:hover, .kue6:hover,
    .minum1:hover, .minum2:hover, .minum3:hover,
    .masak1:hover, .masak2:hover , .masak3:hover, .masak4:hover
    {
        opacity: 1;
        z-index: 1;
        transform: scale(1.05,1.05);
}
    /* ------------------------------ SECOND --------------------------------- */
    .second-title h1{
        font-size: 6vw;
    }
    .feature-text p{
        font-size: 2.3vw;
    }
    .feature-text h1{
        font-size: 4vw;
    }
    .logo-anim{
        width:27vw;
        height:27vw;
    }
    .in{
        width:24vw;
        height:24vw;
    }

    /* ------------------------------ THIRD --------------------------------- */
    .third{
        clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%);
        height: 130%;
    }
    .third h1, .third h3 ,.third h4{
        font-size: 5.5vw;
    }
    .third h4, .buttons span{
        font-size: 2.4vw;
    }
    .buttons a, .redirect{
        height: 7vw;
        width: 32vw;
        font-size: 3vw;
        line-height: 7vw;
    }
    .logo-footer img{
        height:6vw;
        width: 20vw;
    }

    /* footer */
    .third .footer{
        display: none;
    }
    .footer-mobile{
        display:block;
        height: auto;
        margin-top: 10vw;
        border-top:1px solid rgba(0, 0, 0, 0.598);
        
    }
    .footer-mobile P, .footer-mobile h3 , .footer-mobile i{
        transition: all .1s;
    } 
    .footer-mobile P:hover, .footer-mobile h3:hover , .footer-mobile i:hover{
        text-shadow: 1px 5px 6px rgba(0,0,0,0.7);
        cursor: pointer;
    } 
    .footer-mobile .mob-logo-footer{    
        display: flex;
        align-items: center;
        justify-content: center;
        padding:7vw 0;
    }
    .footer-mobile .mob-logo-footer img{
        height:10vw;
        width:40vw;
    }

    .mob-hubungi, .mob-tentang{
        text-align: center;
        display: inline-block;
        float: left;
        width:50%;
    }

    .mob-tutorial, .mob-social-media{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .mob-social-media .fab{
        font-size: 5vw;
        margin: 0 3vw;
    }
    .mob-social-media .fa-facebook{
        color:rgb(59,89,152);
    }
    .mob-social-media .fa-instagram{
        color:rgb(233, 89, 80);
    }
    .mob-social-media .fa-twitter{
        color:rgb(29, 161, 242);
    }
    .mob-social-media .fa-linkedin-in{
        color: #0000EE;
    }
}
@media screen and (max-width : 480px){

    .arrow, .control a{
        width:13vw;
        height:13vw;
    }
    .arrow .fas{
        font-size: 7vw;
    
    }
    .control a{
        font-size: 3vw;
    }
    .main-title, .two, .logo-feature .fas{
        display: none;
    }
    .logo{
        left:50%;
        animation: title .5s ease;
    }
    .logo img{
        height:15vw;
        width:60vw;
    }
    .three{
        width:20vh;
        animation: s;
        top:45vw;
        animation: sideCover3rd 1s ease;
    }
      /* ------------------------------ SECOND --------------------------------- */
      .second{
        width:100%;
    }
    .second-title h1{
        font-size: 10vw;
        
    }
    .feature{
        width:100vw;
        height:40vh;
        position: unset;
    }
    .logo-feature{
        width:100%;
    }
    .logo-feature .feature-text{
        display:block;
        height: auto;
        z-index: 2;
    }
    .feature-text p{
        font-size: 4vw;
    }
    .feature-text h1{
        font-size: 6vw;
    }
    .logo-anim,.f3 .logo-anim,.f2 .logo-anim{
        width:65vw;
        height:65vw;
        margin:0;
    }
    .feature-text{
        display: none;
    }
    .in{
        width:55vw;
        height:55vw;
    }
    .f3 .in{
        width:50vw;
        height:50vw;
    }
    
/* ------------------------------ THIRD --------------------------------- */
    .third{
        clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%);
    }
    .third h1, .third h3 ,.third h4{
        font-size: 6vw;
        color: rgb(227, 235, 242);
    }
        .third h3{
        font-size: 5vw;
    }
        .third h4, .buttons span{
        font-size: 4vw;
    }
    .buttons span{
        display: block;
    }
    .buttons a, .redirect{
        height: 15vw;
        width: 80vw;
        font-size: 6vw;
        line-height: 16vw;
        margin:5vw;
    }

    
    .history .footer{
        display: none;
    }

    
    .footer-mobile{
        display:block;
        height: auto;
        margin-top: 10vw;
        border-top:1px solid rgba(0, 0, 0, 0.598);
        
    }
    .footer-mobile P, .footer-mobile h3 , .footer-mobile i{
        transition: all .1s;
    } 
    .footer-mobile P:hover, .footer-mobile h3:hover , .footer-mobile i:hover{
        text-shadow: 1px 5px 6px rgba(0,0,0,0.7);
        cursor: pointer;
    } 
    .footer-mobile .mob-logo-footer{    
        padding:3vw 10vw;
   
    }
    .footer-mobile .mob-logo-footer img{
        height:10vw;
        width:40vw;
        
    }
    .footer-mobile, .mob-social-media, .mob-hubungi, .mob-tutorial, .mob-tentang{
        
    }
    .mob-social-media, .mob-hubungi, .mob-tutorial, .mob-tentang{
        text-align: center;
        margin:15vw 0;
    }
    .mob-social-media .fab{
        font-size: 13vw;
        margin: 0 3vw;
    }
    .mob-social-media .fa-facebook{
        color:rgb(59,89,152);
    }
    .mob-social-media .fa-instagram{
        color:rgb(233, 89, 80);
    }
    .mob-social-media .fa-twitter{
        color:rgb(29, 161, 242);
    }
    .mob-social-media .fa-linkedin-in{
        color: #0000EE;
    }
    
}