body, html{
    width:100%;
    height:100%;
    margin: 0;
    font-family: 'B612';
    letter-spacing: 1px;
    scroll-behavior: smooth;
    position: relative;
}

/* ------------------------------ MAIN --------------------------------- */

.arrow, .control a{
    width:5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    top:50%;
    left: -2vw;
    z-index: 1;
    transition: all .3s;
}
.arrow .fas{
    font-size: 4vw;
    color: rgb(84, 138, 255);

}
.arrow:hover, .control a:hover{
    background-color: rgba(177, 208, 255,.5);
    cursor: pointer; 
}

.control a{
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    text-decoration: none;
    color: rgb(227, 235, 242);
    font-weight: bolder;
    box-shadow: -1px 1px 12px -5px rgba(0,0,0,0.75); 
    text-shadow: 3px 0px 7px #5B2718;
    font-size: 1vw;
}
.control a:hover{
    background-color: rgba(177, 208, 255,1);
 
}
.control a:nth-child(1){
    top:40%;
    left:3vw;
}
.control a:nth-child(2){
    top:50%;
    left:7vw;
}
.control a:nth-child(3){
    top:60%;
    left:3vw;
}


.main {
    width:100%;
    height:100%;
    background: rgb(12,4,148);
    background: linear-gradient(135deg, rgba(12,4,148,1) 0%, rgba(73,73,210,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    animation: clipPathAnim 1s ease;
}

.main-title{
    position: absolute;
    color: rgb(227, 235, 242);
    background-color: rgba(255, 255, 255,0);
    padding: 10vw 7vw;
    text-shadow: 3px 0px 7px #5B2718;
    animation: imageShow .3s ease;
}
.main-title h1{
    font-size: 3.5vw;
}
.sideCover {
    height:140%;
    width: 60%;
    background: rgb(106,181,247);
    background: linear-gradient(105deg, rgba(106,181,247,1) 0%, rgba(223,238,251,1) 66%); 
    position: absolute;
    top:-9.5vw;
    right: -19vw;
    transform: rotate(30deg);
    animation: rotateCover 1s ease ;
    z-index: 3;
}
.logo img{
    height:5vw;
    width:20vw;

}

.two{
    -webkit-box-shadow: -1px 1px 12px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 12px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 12px -8px rgba(0,0,0,0.75);  
    right:-9vw;
    animation: rotateCover 1s ease, rotateCover2nd 2s ease;
    background: rgb(106,181,247);
    background: linear-gradient(105deg, rgba(106,181,247,0.3085609243697479) 0%, rgba(223,238,251,1) 100%);
    z-index: 2;
    padding: 0;
}

.three {
    top:15vw;
    left:14vw;
    width:25%;
    animation: sideCover3rd 1s ease;
    background: rgb(106,181,247);
    background: linear-gradient(105deg, rgba(106,181,247,0.3085609243697479) 0%, rgba(223,238,251,1) 100%);
    transform: rotate(-80deg);
}

.two .menu-cont{
    position: absolute;
    top:50%;
    
}

.menu{
    transform:rotate(-30deg) skewX(-30deg) ;
    margin:1vh 0;
    padding:1.5vw;
    -webkit-box-shadow: 0px 6px 12px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 12px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 12px -12px rgba(0,0,0,0.75);    
    font-size: 1.15vw;
}

.menu a{
    transform: skewX(30deg);
    display: block;
    text-decoration: none;
    color: rgb(196, 222, 244);
    text-shadow: 3px 0px 7px #5B2718;
}

.menu:hover{
    background-color: rgba(194, 220, 242, 1);
    cursor: pointer;

}

.logo{
    z-index: 3;
    position:absolute;
    margin:0;
    top:50%;
    left:80%;
    transform:  translate(-50%, -50%);
    animation: title .5s ease;
    font-size: larger;
}

.logo h3{
    color: aliceblue;
}

.produk-menu{
    position:relative;
    height: 100vh;
}

.produk-menu h1{
    display:block;
    position: absolute;
    z-index: 2;
    margin:0;
    top:50%;
    left:25%;
    transform:  translate(-50%, -50%);
}

.produk-menu img{
    position: absolute;
    height:100vh;
    width:80vw;
    box-shadow: 3px 3px 23px -6px rgba(0,0,0,0.75);
}
.kue img, .minum img, .masakan img{
    border-radius: 5%;
    opacity: .9;
    transition: all .2s;
}
.kue .kue1, .minum .minum1 , .masakan .masak2{
    top:2vw;
    left:2vw;
    height: 22vw;
    width: 35vw;
}
.kue .kue2, .minum .minum2, .masakan .masak3{
    top:12vw;
    left:26vw;
    height: 15vw;
    width: 30vw;

}
.kue .kue3, .minum .minum3, .masakan .masak1{
    top:20vw;
    left:1vw;
    height: 15vw;
    width: 30vw;

}
.kue .kue4, .masakan .masak4{
    top:30vw;
    left:26vw;
    height: 15vw;
    width: 30vw;
}
.kue .kue5{
    top:3vw;
    left:36vw;
    height: 15vw;
    width: 30vw;
}
.kue .kue6{
    top:30vw;
    left:.2vw;
    height: 15vw;
    width: 30vw;
}



.kue1:hover, .kue2:hover, .kue3:hover, .kue4:hover, .kue5:hover, .kue6:hover,
.minum1:hover, .minum2:hover, .minum3:hover,
.masak1:hover, .masak2:hover , .masak3:hover, .masak4:hover
{
    opacity: 1;
    z-index: 1;
    transform: scale(1.05,1.05);
}

.masakan{
    display: none;
}

.minum{
    display: none;
}

.kue{
    display: none;
}



/* ------------------------------ SECOND --------------------------------- */

.second{
    height:auto;
    margin:0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
}

.second-title {
    margin: 2.25vw 0;
    text-align: center;
    margin-bottom:10vw;
}
.second-title h1{
    font-size: 3vw;
    
}
.feature{
    width: 65vw;
    height: 19vw;
    margin-bottom:20vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}


.logo-feature, .feature-text{
    height:100%;
    width:55%;
    float: left;
}
.feature-text{
    text-align: center;
}
.feature-text p{
    font-size: 1.5vw;
}
.feature-text h1{
    font-size: 2vw;
}
.logo-feature{
    position: relative;
    width:44%;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}
.logo-feature .feature-text{
    display:none;
}
.logo-feature i{
    color: rgb(84, 138, 255);
}
.logo-feature i, .logo-feature h3{
    position: relative;
    z-index:1;
    margin: 0;
}
.logo-feature h3{
    text-shadow: 3px 0px 7px #120907;
    color: rgb(227, 235, 242);
}
.logo-feature .fas {
    font-size: 13vw;
    transition: all .3s ease;
}
.logo-feature .fas:hover{
    font-size: 15vw;
}

.logo-anim{
    position:absolute;
    width:25vw;
    height:25vw;
    background-color: rgba(55, 55, 255, 0.9);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    animation: rotate 7s linear infinite;
    transition: all .5s;
    transform-origin:center center;
}
.in{
    width:20vw;
    height:20vw;
    background-color: rgba(208, 212, 255, 1);
    animation: rotate 10s linear infinite;
    animation-direction: reverse;
}

.f1 .fas:hover ~ .logo-anim{
    animation-duration: 2s;
}
/* buat feature 2 */

.f2 .out{
    width:28vw;
    height:28vw;
    border-radius: 50%;
    background-color: white;
    border-left:10px solid rgb(255, 255, 255);
    border-right:10px solid rgb(255, 255, 255);
    clip-path: unset;
    animation-direction: reverse;
}
.f2 .in{
    width:20vw;
    height:20vw;
    border-radius: 50%;
    background-color: white;
    border-top:16px solid rgba(55, 55, 255, 0.9);
    clip-path: unset;
}
.f2 .mid{
    width:24vw;
    height:24vw;
    border-radius: 50%;
    background-color: white;
    border-bottom:16px solid rgba(55, 55, 255, 0.9);
    clip-path: unset;
}
.f2 .fas:hover ~ .logo-anim{
    border-left:10px solid rgba(55, 55, 255, 0.9);
    border-right:10px solid rgba(55, 55, 255, 0.9);
}
.f2 .logo-feature{
    float:left;
}
.f2 .feature-text{
    float:right;
}
/* buat fiture 3 */
.f3 .logo-anim{
    clip-path: unset;
    width:23vw;
    height:23vw;
    border-radius: 5%;
}
.f3 .in{
    width:20vw;
    height:20vw;
}
.f3 .fas{
    position:absolute;
}
.f3 .fa-users{
    opacity: 0;
}


.logo-feature:hover .fa-user{
    opacity: 0;
    font-size: 10vw;
}
.f3 .fas:hover ~ .logo-anim{
   border-radius: 30%;
}
.logo-feature:hover .fa-users{
    opacity: 1;
    font-size: 10vw;
}



/* ------------------------------ THIRD --------------------------------- */
.third{
    height:160%;
    background: rgb(12,4,148);
    background: linear-gradient(135deg, rgba(12,4,148,1) 0%, rgba(73,73,210,1) 35%, rgba(0,212,255,1) 100%);
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
}
.third h1, .third h3 ,.third h4{
    font-size: 3vw;
    color: rgb(227, 235, 242);
}
.third h3{
    font-size: 2vw;
}
.third h4, .buttons span{
    font-size: 1vw;
}
.buttons{
    color: rgb(227, 235, 242);
    margin-bottom: 3vw;
}
.buttons a, .redirect{
    color: rgb(227, 235, 242);
    background-color: rgba(73,73,210,.1);
    line-height: 4vw;
    display: inline-block;
    text-decoration: none;
    height: 4vw;
    width: 16vw;
    border: .1px solid;
    border-radius: 7%;
    box-shadow: 0px 6px 0px 0px rgba(12,4,148,1);
    transition: background-color 0.3s;
    position:relative;
    font-size: 1vw;
}

.buttons a:hover, .redirect:hover{
    background-color:  rgba(73,73,210,.8);
    cursor: pointer;
}
.buttons a:active, .redirect:active{
    top:6px;
    box-shadow: none;
}
.footer{
    position: absolute;
    clip-path: polygon(100% 100%, 0% 100%, 100% 100%);
    background-color: white;
    right:0;
    bottom:0;
    width: 100vw;
    height:16vw;
    transition: clip-path .4s;
}
.logo-footer{
    position: relative;
    width: 100%;
    height: 100%;
}
.logo-footer img{
    position: absolute;
    top:50%;
    right:5%;
    height:10vh;
}
